body {
  background-color:gray;
}
#basic {
  background-color:blue;
  color:red;
  border-width: 2px;
  border-color: red;
  border-style: solid;
  margin: 4px;
  margin-right:492px;
  text-align: center;

}

#basic2 {
  text-align:center;
}

#basic3 {
  text-align:center;
}

#image {
  opacity:0.5;
  float:right;
  border: 4px solid black;
  margin 4px;
  padding 4px;
}

#image:hover {
  opacity:1.0;
}
